.layout-header {
    display: flex;
    justify-content: space-between;
    &__logo {

    }
    &__nav {
      margin: auto 0;
    }
    &__list {
      display: flex;
      gap: 63px;
    }
    &__link {
    }
  }